name: cicd

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        flask-version: ["2.0", "3.0"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v4
        id: cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}

      - name: Install poetry
        run: pip install poetry==1.5.1

      - name: Install code
        run: poetry install

      - name: Install Flask
        run: poetry run pip install "flask~=${{ matrix.flask-version }}" --force-reinstall

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos

  cd:
    # Only run this job if the "ci" job passes
    needs: ci

    # Only run this job if new work is pushed to the "main" branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    # Set up operating system
    runs-on: ubuntu-latest

    # Define job steps
    steps:
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Check-out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install poetry
        run: pip install poetry==1.5.1

      - name: Install code
        run: poetry install

      - name: Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.15.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_committer_email: action@github.com
          git_committer_name: github-actions

      - name: Build and publish to Test PyPI
        uses: JRubics/poetry-publish@v2.0
        if: steps.release.outputs.released == 'true'
        with:
          python_version: "3.11"
          poetry_version: "==1.5.1"
          pypi_token: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_name: "testpypi"
          repository_url: "https://test.pypi.org/legacy/"

      - name: Test install from Test PyPI
        if: steps.release.outputs.released == 'true'
        run: |
          pip install \
          --index-url https://test.pypi.org/simple/ \
          --extra-index-url https://pypi.org/simple \
          flask-cognito-lib

      # TODO run unit tests against Test-PyPI installation

      - name: Build and publish to PyPI
        uses: JRubics/poetry-publish@v2.0
        if: steps.release.outputs.released == 'true'
        with:
          python_version: "3.11"
          poetry_version: "==1.5.1"
          pypi_token: ${{ secrets.PYPI_API_TOKEN }}

      - name: Publish package distributions to GitHub Releases
        uses: python-semantic-release/upload-to-gh-release@v9.15.2
        if: steps.release.outputs.released == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}