name: docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: pip install "mkdocs-material~=8.2" "mdx-include~=1.4"

      - run: mkdocs gh-deploy --force
